# Importing packages and loading data

In [58]:
import pandas as pd

%load_ext autoreload 
%autoreload 2
from jacob_data_script import *

df = pd.read_csv("/Users/jacob/Documents/GitHub/projects-2024-jacobogmads/Jacob/Data project/data.csv", encoding='ISO-8859-1', skiprows=[0])
df.head(11)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

,,.1,2001M01,2001M02,2001M03,2001M04,2001M05,2001M06,2001M07,2001M08,...,2023M05,2023M06,2023M07,2023M08,2023M09,2023M10,2023M11,2023M12,2024M01,2024M02
0,Indeks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,07.2.1 Reservedele og tilbehï¿½r,77.5,77.9,78.3,78.3,78.3,78.2,78.4,78.7,...,109.9,110.2,110.7,110.8,110.8,111.2,111.0,111.2,111.9,112.1
2,,07.2.2 Brï¿½ndstof,71.5,73.9,72.3,75.5,79.8,75.9,73.8,73.1,...,128.7,129.9,128.4,137.3,139.6,135.7,130.0,124.9,131.1,135.0
3,,07.2.3 Vedligeholdelse og reparation af person...,63.2,63.3,63.2,63.7,63.8,63.9,64.2,64.7,...,121.8,121.9,122.0,122.0,122.1,122.2,122.4,122.4,123.5,126.0
4,,07.3.1.1 Personbefordring med tog,..,..,..,..,..,..,..,..,...,112.2,112.2,112.2,112.2,112.2,112.2,112.2,112.2,112.2,121.8
5,,07.3.1.2 Personbefordring med metro,..,..,..,..,..,..,..,..,...,116.4,116.4,116.4,116.4,116.4,116.4,116.4,116.4,116.4,126.8
6,,07.3.2.1Personbefordring med bus,..,..,..,..,..,..,..,..,...,111.9,111.9,111.9,111.7,111.7,111.7,111.7,111.7,111.7,120.5
7,,07.3.2.2 Personbefordring med taxi og lejet bi...,..,..,..,..,..,..,..,..,...,131.3,131.3,131.3,131.3,131.3,131.7,131.7,133.0,133.0,133.0
8,,07.3.3.1 Indenrigsflyvning,..,..,..,..,..,..,..,..,...,81.0,84.9,88.4,86.8,92.4,92.0,97.3,97.2,92.2,99.6
9,,07.3.4 Personbefordring med fï¿½rge,52.0,52.5,52.5,53.9,54.7,54.7,56.7,55.4,...,111.8,124.6,131.4,127.2,119.9,117.3,105.6,106.8,110.9,109.7
10,,07.3.4.1 Personbefordring ad sï¿½vejen,..,..,..,..,..,..,..,..,...,111.8,124.6,131.4,127.2,119.9,117.3,105.6,106.8,110.9,109.7

# Cleaning the data

We rename the indexes. We create a dictionary with the proper names, and then perform the remapping.

In [44]:
# Define your mapping of Danish names to more meaningful names or translations
# Example:
var_dict = {
     '07.2.1 Reservedele og tilbehï¿½r': 'Spare parts and accessories',
     '07.2.2 Brï¿½ndstof': 'Fuel',
     '07.2.3 Vedligeholdelse og reparation af personlige transportmidler': 'Maintenance and repair of personal transportation equipment',
     '07.3.1.1 Personbefordring med tog': 'Passenger transport by train',
     '07.3.1.2 Personbefordring med metro': 'Passenger transport by metro',
     '07.3.2.1Personbefordring med bus': 'Passenger transport by bus',
     '07.3.2.2 Personbefordring med taxi og lejet bil med fï¿½rer': 'Passenger transport by taxi and rented car with driver',
     '07.3.3.1 Indenrigsflyvning': 'Domestic flights',
     '07.3.4 Personbefordring med fï¿½rge': 'Passenger transport by ferry',
     '07.3.4.1 Personbefordring ad sï¿½vejen': 'Passenger transport by sea',
     'ï¿½ndring i forhold til mï¿½neden fï¿½r (pct.)': 'Change compared to the previous month (pct.)',
     'ï¿½ndring i forhold til samme mï¿½ned ï¿½ret fï¿½r (pct.)': 'Change compared to the same month last year (pct.)'
 }

# Rename the indexes
df.replace(var_dict, inplace=True)

We continue by droppping rows which we are not interested in. We then reset the index.

In [45]:
df = df.drop(df.index[11:])
df = df.drop(df.index[0])
df.reset_index(inplace = True, drop = True)

Now we rename our index-column to Category.

In [46]:
df.columns.values[1] = 'Category'
df.iloc[[]]

Empty DataFrame
Columns: [ , Category, 2001M01, 2001M02, 2001M03, 2001M04, 2001M05, 2001M06, 2001M07, 2001M08, 2001M09, 2001M10, 2001M11, 2001M12, 2002M01, 2002M02, 2002M03, 2002M04, 2002M05, 2002M06, 2002M07, 2002M08, 2002M09, 2002M10, 2002M11, 2002M12, 2003M01, 2003M02, 2003M03, 2003M04, 2003M05, 2003M06, 2003M07, 2003M08, 2003M09, 2003M10, 2003M11, 2003M12, 2004M01, 2004M02, 2004M03, 2004M04, 2004M05, 2004M06, 2004M07, 2004M08, 2004M09, 2004M10, 2004M11, 2004M12, 2005M01, 2005M02, 2005M03, 2005M04, 2005M05, 2005M06, 2005M07, 2005M08, 2005M09, 2005M10, 2005M11, 2005M12, 2006M01, 2006M02, 2006M03, 2006M04, 2006M05, 2006M06, 2006M07, 2006M08, 2006M09, 2006M10, 2006M11, 2006M12, 2007M01, 2007M02, 2007M03, 2007M04, 2007M05, 2007M06, 2007M07, 2007M08, 2007M09, 2007M10, 2007M11, 2007M12, 2008M01, 2008M02, 2008M03, 2008M04, 2008M05, 2008M06, 2008M07, 2008M08, 2008M09, 2008M10, 2008M11, 2008M12, 2009M01, 2009M02, ...]
Index: []

[0 rows x 280 columns]

We now want to mean the monthly values for each year, so they become comparable with the rest of our data. To do so, we have to do a bit of manipulation. First we need to ensure, that our column names are correctly formatted.

In [47]:
# Strip leading/trailing spaces from column names
df.columns = df.columns.str.strip()

# Ensure column names are in the expected case, here assuming title case for 'Category'
df.columns = df.columns.str.title()

We then replace ".." to NaN to properly handle missing values when we aggregate and mean the observations.

In [48]:
# Replace '..' with NaN to properly handle missing values during aggregation
df.replace('..', pd.NA, inplace=True)

Now we make the conversion to long format.

In [49]:
# Convert the DataFrame from wide to long format to easily manipulate the dates and values
df_long = pd.melt(df, id_vars=["Category"], var_name="Date", value_name="Value")

# Ensure 'Value' is numeric and handle any conversion errors by coercing them to NaN
df_long['Value'] = pd.to_numeric(df_long['Value'], errors='coerce')

We now convert the column names from the format from yyyyMmm to a proper datetime format.

In [50]:
# Convert 'Date' from the custom format 'YYYYMmm' to datetime, correcting the format
df_long['Date'] = pd.to_datetime(df_long['Date'], format='%YM%m', errors='coerce')

# Dropping rows where Date conversion resulted in NaT to clean up the data
df_long.dropna(subset=['Date'], inplace=True)

We finally group by category and year, and calculate the mean for each group.

In [51]:


# Group by Category and Year, then calculate mean for each group
df_yearly_mean = df_long.groupby(['Category', df_long['Date'].dt.year])['Value'].mean().reset_index()

print(df_yearly_mean)

                        Category  Date       Value
0               Domestic flights  2001         NaN
1               Domestic flights  2002         NaN
2               Domestic flights  2003         NaN
3               Domestic flights  2004         NaN
4               Domestic flights  2005         NaN
..                           ...   ...         ...
235  Spare parts and accessories  2020  102.358333
236  Spare parts and accessories  2021  102.000000
237  Spare parts and accessories  2022  105.591667
238  Spare parts and accessories  2023  110.283333
239  Spare parts and accessories  2024  112.000000

[240 rows x 3 columns]

In [56]:
df_wide = df_yearly_mean.pivot(index='Category', columns='Date', values='Value')

# Since you may have NaNs in your original data as seen in the screenshot, 
# you might want to fill them with a value or forward-fill them
df_wide.fillna(method='ffill', inplace=True)  # forward fill to replace NaNs

# If you want to replace NaN with 0s instead, you can do:
# df_wide.fillna(0, inplace=True)

# Optionally, reset the index if you want 'Date' to be a column and not the index
df_wide.reset_index(inplace=True)

# Output the wide format DataFrame
df_wide.head()

Date,Category,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Domestic flights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.766667,...,100.008333,94.683333,104.641667,105.825000,111.366667,94.691667,79.033333,75.783333,86.950000,95.90
1,Fuel,72.941667,72.791667,73.000000,76.791667,83.933333,88.741667,89.383333,96.075000,87.475000,...,99.991667,94.008333,98.766667,104.891667,105.358333,95.191667,110.891667,143.016667,132.608333,133.05
2,Maintenance and repair of personal transportat...,64.241667,67.500000,70.250000,72.158333,74.208333,77.041667,81.591667,85.916667,88.366667,...,100.000000,102.175000,103.933333,106.033333,107.416667,108.366667,110.475000,115.683333,121.766667,124.75
3,Passenger transport by bus,64.241667,67.500000,70.250000,72.158333,74.208333,77.041667,81.591667,85.916667,86.883333,...,100.016667,100.375000,100.625000,101.983333,104.050000,105.191667,105.908333,106.283333,111.350000,116.10
4,Passenger transport by ferry,54.433333,53.116667,55.283333,57.050000,59.841667,62.133333,64.000000,71.066667,78.108333,...,100.008333,98.741667,98.575000,98.691667,103.833333,107.550000,101.833333,109.866667,115.008333,110.30

The data from DST was originally index to january 2015 as base month. As we meaned the values for each year, 2015 is not equal to 100 anymore. We thus want to re-index the dataframe. We use our index_year function, which has been defined in the script, and which returns the dataframe indexed to a given year, in our case 2015.

In [55]:
df_wide_index2015 = index_to_year(df_wide, 2015)
df_wide_index2015.head()

Date,Category,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Domestic flights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.759187,...,100.0,94.675444,104.632947,105.816182,111.357387,94.683776,79.026748,75.777019,86.942755,95.892009
1,Fuel,72.947746,72.797733,73.006084,76.798067,83.940328,88.749062,89.390783,96.083007,87.482290,...,100.0,94.016168,98.774898,104.900408,105.367114,95.199600,110.900908,143.028586,132.619385,133.061088
2,Maintenance and repair of personal transportat...,64.241667,67.500000,70.250000,72.158333,74.208333,77.041667,81.591667,85.916667,88.366667,...,100.0,102.175000,103.933333,106.033333,107.416667,108.366667,110.475000,115.683333,121.766667,124.750000
3,Passenger transport by bus,64.230962,67.488752,70.238294,72.146309,74.195967,77.028829,81.578070,85.902350,86.868855,...,100.0,100.358274,100.608232,101.966339,104.032661,105.174138,105.890685,106.265622,111.331445,116.080653
4,Passenger transport by ferry,54.428798,53.112241,55.278727,57.045246,59.836680,62.128156,63.994667,71.060745,78.101825,...,100.0,98.733439,98.566786,98.683443,103.824681,107.541038,101.824848,109.857512,114.998750,110.290809

Our data for transportation prices has now been cleaned, ready to be used.