# Data Project

Install the DST api-data reader and the pandas_datareader. If you wanna run our data, but haven´t installed %pip install git+https://github.com/alemartinello/dstapi and %pip install pandas-datareader on your computer, then just remove the hashtag and run the code just one time. Then commet it put again.

In [32]:
# The DST API wrapper
#%pip install git+https://github.com/alemartinello/dstapi

# A wrapper for multiple APIs with a pandas interface
#%pip install pandas-datareader

Imports and set magics:

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets

#from dataproject_sript import *

from dstapi import DstApi # install with `pip install git+https://github.com/alemartinello/dstapi`
import pandas_datareader # install with `pip install pandas-datareader`

# Read and clean data

Consider the following dictionary definitions:

In [34]:
columns_dict = {}
columns_dict['TRANSMID'] = 'vehicle'
columns_dict['TID'] = 'year'
columns_dict['INDHOLD'] = 'value'

We will download all data from table PKM1 and ...  using DstApi. First we will read and clean data from table PKM1.

In [35]:
pkm1_api = DstApi('PKM1') # loading the data, by writting the table name inside the paranthesis
params = pkm1_api._define_base_params(language='en') # we have no restriction, only that we eant the table in english

pkm1 = pkm1_api.get_data(params=params) #getting the data, where we in params defined, what we wanted to include from the table.
pkm1.head()

                                TRANSMID   TID INDHOLD
0             VEHICLES ON THE ROAD TOTAL  1981      ..
1           Bicycles/Mopeds max. 30 km/h  1981      ..
2                   Motor vehicles total  1981   46168
3  Private cars and vans under 2.001 kg.  1981   36854
4                    Vans over 2.000 kg.  1981    3795

Rename column 'TRANSMID' to 'vehicle'

In [36]:
pkm1.rename(columns=columns_dict,inplace=True)
pkm1.head(14)

                                  vehicle  year  value
0              VEHICLES ON THE ROAD TOTAL  1981     ..
1            Bicycles/Mopeds max. 30 km/h  1981     ..
2                    Motor vehicles total  1981  46168
3   Private cars and vans under 2.001 kg.  1981  36854
4                     Vans over 2.000 kg.  1981   3795
5                                   Taxis  1981    441
6                             Motorcycles  1981    282
7                     Mopeds max. 45 km/h  1981      0
8                 Buses and coaches total  1981   4797
9                         Scheduled buses  1981   2418
10                Coaches and other buses  1981   2379
11                                  Train  1981   4724
12                                   Ship  1981     ..
13                              Aeroplane  1981     ..

The dataset contains following vehicles, which do not fit into our analysis, therefor they are droped.

In [37]:
# Build up a logical index I
I = pkm1.vehicle.str.contains('VEHICLES ON THE ROAD TOTAL')
I |= pkm1.vehicle.str.contains('Motor vehicles total')
I |= pkm1.vehicle.str.contains('Vans over 2.000 kg.')
I |= pkm1.vehicle.str.contains('Scheduled buses')
I |= pkm1.vehicle.str.contains('Coaches and other buses')
pkm1.loc[I, :]

pkm1 = pkm1.loc[I == False] # keep everything else
pkm1.reset_index(inplace = True, drop = True) # Drop old index too
pkm1.head(9)

                                 vehicle  year  value
0           Bicycles/Mopeds max. 30 km/h  1981     ..
1  Private cars and vans under 2.001 kg.  1981  36854
2                                  Taxis  1981    441
3                            Motorcycles  1981    282
4                    Mopeds max. 45 km/h  1981      0
5                Buses and coaches total  1981   4797
6                                  Train  1981   4724
7                                   Ship  1981     ..
8                              Aeroplane  1981     ..

Convert values to numeric, so they later on can be used in mathematical operations for the analysis. First remove the empty values, '..', thereafter the values can be turned from strings to floats:

In [54]:
# remove rows where 'value' is '..'
pkm1 = pkm1[pkm1.value != '..']

# convert values to numeric
pkm1.value = pkm1.value.astype('float')

pkm1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 364 entries, 260 to 303
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   vehicle  364 non-null    object
 1   year     364 non-null    int64
 2   value    364 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.4+ KB

Futhermore we want to restrict the years without any information, maybee

Sort by year and vehicle

In [39]:
pkm1.sort_values(by=['vehicle', 'year'],inplace=True)
pkm1.head(33)

       vehicle  year  value
260  Aeroplane  1990  476.0
134  Aeroplane  1991  442.0
314  Aeroplane  1992  457.0
323  Aeroplane  1993  449.0
143  Aeroplane  1994  478.0
332  Aeroplane  1995  497.0
71   Aeroplane  1996  541.0
341  Aeroplane  1997  519.0
350  Aeroplane  1998  424.0
359  Aeroplane  1999  398.0
269  Aeroplane  2000  363.0
278  Aeroplane  2001  338.0
152  Aeroplane  2002  304.0
116  Aeroplane  2003  285.0
26   Aeroplane  2004  308.0
368  Aeroplane  2005  316.0
224  Aeroplane  2006  342.0
233  Aeroplane  2007  377.0
161  Aeroplane  2008  372.0
35   Aeroplane  2009  381.0
287  Aeroplane  2010  470.0
377  Aeroplane  2011  459.0
296  Aeroplane  2012  367.0
80   Aeroplane  2013  359.0
44   Aeroplane  2014  368.0
242  Aeroplane  2015  357.0
386  Aeroplane  2016  381.0
170  Aeroplane  2017  354.0
89   Aeroplane  2018  345.0
179  Aeroplane  2019  324.0
53   Aeroplane  2020  137.0
188  Aeroplane  2021  188.0
305  Aeroplane  2022  270.0

# Explore the data set

Interactive plot of the data from table PKM1, showing the development in the use of vehicles messeaured in mio. personkm (y-axis) over the years (x-axis)

In [40]:
# define the plot_e function
def plot_e(df, vehicle): 
    I = df['vehicle'] == vehicle
    ax=df.loc[I,:].plot(x='year', y='value', style='-o', legend=False)

In [41]:
# interactive plot using widgets and the defined plot_e function
widgets.interact(plot_e, 
    df = widgets.fixed(pkm1),
    vehicle = widgets.Dropdown(description='vehicle', 
                                    options=pkm1.vehicle.unique(), # we choose to look at vehicles
                                    value='Train') # Train is the start observation
);

interactive(children=(Dropdown(description='vehicle', index=8, options=('Aeroplane', 'Bicycles/Mopeds max. 30 …

Suprinsingly we se a fall in the use of Bicycles/Mopeds max 30 km/h when we se ourselves as the cycling nation of the world. 

The use of train has increase since 1980 to around 2015. After 2015 we se a slide fall in the use of train, and then ofc the downfall of Corona. 

Buses and coahches total was at its second highest just before 2000, whereafter it decreased again. From around 2013 it again began to increase, but then Corona came. After Corona transporation with bus exploded to its highest ever, but could be due to a lot of different things. 

Pricvate cars an vans has increase from 1980 to today, again with a slide fall do to Corona. 

Transportation with aeroplane has had a general negative trend from 1990 to just before corona, with a peak before the fananciel crisis.

Checking the outlier for buses and coaches total in 2022

In [42]:
filtered_df = pkm1[pkm1['vehicle'] == 'Buses and coaches total']
filtered_df

                     vehicle  year   value
194  Buses and coaches total  1980  4611.0
5    Buses and coaches total  1981  4797.0
248  Buses and coaches total  1982  5183.0
122  Buses and coaches total  1983  5378.0
59   Buses and coaches total  1984  5642.0
203  Buses and coaches total  1985  5938.0
212  Buses and coaches total  1986  6171.0
95   Buses and coaches total  1987  6271.0
104  Buses and coaches total  1988  6292.0
14   Buses and coaches total  1989  6343.0
257  Buses and coaches total  1990  6443.0
131  Buses and coaches total  1991  6394.0
311  Buses and coaches total  1992  6421.0
320  Buses and coaches total  1993  6601.0
140  Buses and coaches total  1994  6745.0
329  Buses and coaches total  1995  7284.0
68   Buses and coaches total  1996  7717.0
338  Buses and coaches total  1997  7596.0
347  Buses and coaches total  1998  7543.0
356  Buses and coaches total  1999  7397.0
266  Buses and coaches total  2000  7418.0
275  Buses and coaches total  2001  7332.0
149  Buses and coaches total  2002  7295.0
113  Buses and coaches total  2003  7272.0
23   Buses and coaches total  2004  7300.0
365  Buses and coaches total  2005  7169.0
221  Buses and coaches total  2006  7054.0
230  Buses and coaches total  2007  6845.0
158  Buses and coaches total  2008  6745.0
32   Buses and coaches total  2009  6761.0
284  Buses and coaches total  2010  6837.0
374  Buses and coaches total  2011  6684.0
293  Buses and coaches total  2012  6477.0
77   Buses and coaches total  2013  6475.0
41   Buses and coaches total  2014  6567.0
239  Buses and coaches total  2015  6850.0
383  Buses and coaches total  2016  7069.0
167  Buses and coaches total  2017  7300.0
86   Buses and coaches total  2018  7206.0
176  Buses and coaches total  2019  6992.0
50   Buses and coaches total  2020  4547.0
185  Buses and coaches total  2021  4834.0
302  Buses and coaches total  2022  8195.0

# Merge with population data from Denmark Statistics

We want to have the value (mio. personkm) from the PKM1 table in per capita terms. To get that, we would need to download population data from Denmark Statistics and merge this with our data from PMK1:

In [43]:
FT_api = DstApi('FT')
params = FT_api._define_base_params(language='en')
params['variables'][0]['values'] = ['000'] 
## 000 is the code for all of Denmark, this can be seen by using: FT_api.variable_levels('HOVEDDELE', language='en')
pop = FT_api.get_data(params=params)

pop.rename(columns={'TID':'year','INDHOLD':'population'},inplace=True)
pop =  pop.loc[:,['year','population']]
pop.head()

   year  population
0  2010     5534738
1  1769      797584
2  1840     1289075
3  1860     1608362
4  1901     2449540

Merge the population data set with the PKM1 data set. When we do that, we get an extra column with population:

In [44]:
merged = pd.merge(pkm1,pop,how='left',on=['year'])
merged.head(33)

      vehicle  year  value  population
0   Aeroplane  1990  476.0     5135409
1   Aeroplane  1991  442.0     5146469
2   Aeroplane  1992  457.0     5162126
3   Aeroplane  1993  449.0     5180614
4   Aeroplane  1994  478.0     5196642
5   Aeroplane  1995  497.0     5215718
6   Aeroplane  1996  541.0     5251027
7   Aeroplane  1997  519.0     5275121
8   Aeroplane  1998  424.0     5294860
9   Aeroplane  1999  398.0     5313577
10  Aeroplane  2000  363.0     5330020
11  Aeroplane  2001  338.0     5349212
12  Aeroplane  2002  304.0     5368354
13  Aeroplane  2003  285.0     5383507
14  Aeroplane  2004  308.0     5397640
15  Aeroplane  2005  316.0     5411405
16  Aeroplane  2006  342.0     5427459
17  Aeroplane  2007  377.0     5447084
18  Aeroplane  2008  372.0     5475791
19  Aeroplane  2009  381.0     5511451
20  Aeroplane  2010  470.0     5534738
21  Aeroplane  2011  459.0     5560628
22  Aeroplane  2012  367.0     5580516
23  Aeroplane  2013  359.0     5602628
24  Aeroplane  2014  368.0     5627235
25  Aeroplane  2015  357.0     5659715
26  Aeroplane  2016  381.0     5707251
27  Aeroplane  2017  354.0     5748769
28  Aeroplane  2018  345.0     5781190
29  Aeroplane  2019  324.0     5806081
30  Aeroplane  2020  137.0     5822763
31  Aeroplane  2021  188.0     5840045
32  Aeroplane  2022  270.0     5873420

# Analysis

First we would like to get the value (mio. personkm) in per capita terms, so we can check if the increase or decrease are driven of the increase in population or not:

Before we can do the calculation, we will need to check if population is numeric. If it is not, then we will have to change it

In [45]:
# check the column population´s Dtype
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   vehicle     364 non-null    object
 1   year        364 non-null    int64
 2   value       364 non-null    float64
 3   population  364 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 11.5+ KB

We will need to convert population to numeric float

In [46]:
# change dtype from integer to float
merged.population = merged.population.astype('float')
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   vehicle     364 non-null    object
 1   year        364 non-null    int64
 2   value       364 non-null    float64
 3   population  364 non-null    float64
dtypes: float64(2), int64(1), object(1)
memory usage: 11.5+ KB

In [47]:
#merged.head(33)

Now we can do the calculation

In [48]:
merged['pr.capita'] = (merged['value']*1000000)/merged['population']
merged.head(33)

      vehicle  year  value  population   pr.capita
0   Aeroplane  1990  476.0   5135409.0   92.689794
1   Aeroplane  1991  442.0   5146469.0   85.884128
2   Aeroplane  1992  457.0   5162126.0   88.529416
3   Aeroplane  1993  449.0   5180614.0   86.669264
4   Aeroplane  1994  478.0   5196642.0   91.982476
5   Aeroplane  1995  497.0   5215718.0   95.288894
6   Aeroplane  1996  541.0   5251027.0  103.027465
7   Aeroplane  1997  519.0   5275121.0   98.386369
8   Aeroplane  1998  424.0   5294860.0   80.077660
9   Aeroplane  1999  398.0   5313577.0   74.902462
10  Aeroplane  2000  363.0   5330020.0   68.104810
11  Aeroplane  2001  338.0   5349212.0   63.186877
12  Aeroplane  2002  304.0   5368354.0   56.628158
13  Aeroplane  2003  285.0   5383507.0   52.939469
14  Aeroplane  2004  308.0   5397640.0   57.061975
15  Aeroplane  2005  316.0   5411405.0   58.395186
16  Aeroplane  2006  342.0   5427459.0   63.012913
17  Aeroplane  2007  377.0   5447084.0   69.211343
18  Aeroplane  2008  372.0   5475791.0   67.935391
19  Aeroplane  2009  381.0   5511451.0   69.128801
20  Aeroplane  2010  470.0   5534738.0   84.918202
21  Aeroplane  2011  459.0   5560628.0   82.544633
22  Aeroplane  2012  367.0   5580516.0   65.764528
23  Aeroplane  2013  359.0   5602628.0   64.077072
24  Aeroplane  2014  368.0   5627235.0   65.396238
25  Aeroplane  2015  357.0   5659715.0   63.077381
26  Aeroplane  2016  381.0   5707251.0   66.757183
27  Aeroplane  2017  354.0   5748769.0   61.578401
28  Aeroplane  2018  345.0   5781190.0   59.676295
29  Aeroplane  2019  324.0   5806081.0   55.803562
30  Aeroplane  2020  137.0   5822763.0   23.528349
31  Aeroplane  2021  188.0   5840045.0   32.191533
32  Aeroplane  2022  270.0   5873420.0   45.969810

We want to recreate the interactive graph with the new pr. capita numbers:

In [49]:
# again define the plot_e function, now with pr. capita on y-axis
def plot_e(df, vehicle): 
    I = df['vehicle'] == vehicle
    ax=df.loc[I,:].plot(x='year', y='pr.capita', style='-o', legend=False)

In [50]:
# interactive plot using widgets and the defined plot_e function
widgets.interact(plot_e, 
    df = widgets.fixed(merged),
    vehicle = widgets.Dropdown(description='vehicle', 
                                    options=merged.vehicle.unique(), # we again choose to look at vehicles, so we can compare with graph from earlier
                                    value='Train') # Train is the start observation
);

interactive(children=(Dropdown(description='vehicle', index=8, options=('Aeroplane', 'Bicycles/Mopeds max. 30 …

The reason we want to include pr. capita terms is e.g. if you observe an increase in the absolute number of train riders over time, you might conclude that public bus transportation is becoming more popular than it really is. The increase could be a biproduct of an increase in population size. 

We don not se any big changes, the trend is similar to the interactive plot from earlier. Peaks and valleys does not differ extraordinary when corrected with population.

Secondly we want to index the merged data, where january 2015 is set as base month. We use our index_year function, which has been defined in the script, and which returns the dataframe indexed to a given year, in our case 2015:

In [51]:
def index_to_year(df, base_year):
    # Ensure 'year' column exists
    if 'year' not in df.columns:
        raise ValueError("The DataFrame does not contain a 'year' column.")
    
    # Check if base year is in the 'year' column
    if not df['year'].isin([base_year]).any():
        raise ValueError(f"Base year {base_year} not found in DataFrame's 'year' column")
    
    # Set the index to 'vehicle' and 'year' if not already set
    if set(df.index.names) != {'vehicle', 'year'}:
        df = df.set_index(['vehicle', 'year'])
    
    # Isolate the base year data
    base_year_df = df.xs(base_year, level='year')
    
    # Divide each row by its corresponding base year value and multiply by 100
    df_normalized = df.div(base_year_df, level='vehicle') * 100
    
    # Optionally, reset index if you want 'vehicle' and 'year' back as columns
    df_normalized.reset_index(inplace=True)
    
    return df_normalized

In [52]:
merged_index2015 = index_to_year(merged, 2015)
merged_index2015.head(33)

      vehicle  year       value  population   pr.capita
0   Aeroplane  1990  133.333333   90.736177  146.946167
1   Aeroplane  1991  123.809524   90.931593  136.156774
2   Aeroplane  1992  128.011204   91.208232  140.350494
3   Aeroplane  1993  125.770308   91.534892  137.401493
4   Aeroplane  1994  133.893557   91.818086  145.824818
5   Aeroplane  1995  139.215686   92.155135  151.066662
6   Aeroplane  1996  151.540616   92.779000  163.335039
7   Aeroplane  1997  145.378151   93.204711  155.977257
8   Aeroplane  1998  118.767507   93.553474  126.951466
9   Aeroplane  1999  111.484594   93.884180  118.746944
10  Aeroplane  2000  101.680672   94.174707  107.970256
11  Aeroplane  2001   94.677871   94.513805  100.173590
12  Aeroplane  2002   85.154062   94.852020   89.775697
13  Aeroplane  2003   79.831933   95.119754   83.927816
14  Aeroplane  2004   86.274510   95.369466   90.463450
15  Aeroplane  2005   88.515406   95.612677   92.577061
16  Aeroplane  2006   95.798319   95.896330   99.897795
17  Aeroplane  2007  105.602241   96.243079  109.724503
18  Aeroplane  2008  104.201681   96.750296  107.701666
19  Aeroplane  2009  106.722689   97.380363  109.593645
20  Aeroplane  2010  131.652661   97.791815  134.625440
21  Aeroplane  2011  128.571429   98.249258  130.862493
22  Aeroplane  2012  102.801120   98.600654  104.260080
23  Aeroplane  2013  100.560224   98.991345  101.584865
24  Aeroplane  2014  103.081232   99.426120  103.676210
25  Aeroplane  2015  100.000000  100.000000  100.000000
26  Aeroplane  2016  106.722689  100.839901  105.833790
27  Aeroplane  2017   99.159664  101.573471   97.623585
28  Aeroplane  2018   96.638655  102.146309   94.608073
29  Aeroplane  2019   90.756303  102.586102   88.468419
30  Aeroplane  2020   38.375350  102.880852   37.300770
31  Aeroplane  2021   52.661064  103.186203   51.034986
32  Aeroplane  2022   75.630252  103.775897   72.878437